<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Get Going - Reach your destination on time</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- CDN Styles -->
    <link href="https://fonts.googleapis.com/icon?family=Material%20Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.1/angular-material.min.css">
    <link rel="stylesheet" href="assets/styles/default.css">
</head>
</head>
<body ng-app="app">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
      <md-toolbar ng-controller="AppCtrl">
        <div class="md-toolbar-tools">
            <md-button ng-click="openLeftMenu()" class="md-icon-button md-48" hide-gt-md> 
                <em class="material-icons md-light md-48">list</em>
            </md-button>
            <div class="md-display-1 md-padding">Get Going <em class="material-icons md-light md-48">directions_run</em></div>
        </div>
    </md-toolbar>
    <div layout="row">
            <md-sidenav md-component-id="left" md-is-locked-open="$mdMedia('min-width: 680px')" class="md-sidenav-left">
                <md-content layout="column" ng-controller="AppCtrl">
                    <md-list>
                        <md-list-item flex>
                            <md-item-content md-ink-ripple flex>
                                <md-button class="md-primary" ng-click="closeMenuSet()" class="inset">Set a Reminder</md-button>
                            </md-item-content>
                        </md-list-item>
                        <md-divider></md-divider>
                        <md-list-item flex>
                         <md-item-content md-ink-ripple flex>
                            <md-button class="md-primary" ng-click="closeMenuView()" class="inset">View Reminders</md-button>
                        </md-item-content>              
                    </md-list-item>
                    <md-divider></md-divider>   
                </md-list>
            </md-content>
        </md-sidenav>
        <md-content flex>
            <div ng-view=""></div>
        </md-content>
    </div>
<footer layout="row"></footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-route.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-aria.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-animate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.1/angular-material.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-local-storage/0.5.0/angular-local-storage.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/x2js/1.2.0/xml2json.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-mocks.js"></script>
<script src="app/app.js"></script>
<script src="app/services/xmlParser.js"></script>
<script src="app/services/calculateDistance.js"></script>
<script src="app/services/appCtrl.js"></script>
<script src="app/getAllStations/getAllStationsCtrl.js"></script>
<script src="app/stationDetails/stationDetailsCtrl.js"></script>
<script src="app/addReminder/addReminderCtrl.js"></script>
<script src="app/reminders/remindersCtrl.js"></script>
</body>
</html>
