<div flex class="md-padding error"  ng-if="errorMsg == true">
    <p>Techincal error. Please try again later.</p>
</div>
<form class="md-inline-form md-padding" name="getStation" ng-if="!errorMsg">
    <md-input-container>
        <label>Click here to select Departure Station</label>
        <md-select ng-model="selectedStation" aria-label="Select station" required>
            <md-option ng-repeat="station in allStations | orderBy : 'StationDesc'" ng-value="station.StationDesc">{{station.StationDesc}}
            </md-option>
        </md-select>
    </md-input-container>
    <md-input-container>
        <md-button type="submit" class="md-raised md-primary" ng-disabled="getStation.$invalid" ng-href="#{{selectedStation}}">Submit</md-button>
    </md-input-container>
</form>

