<md-toolbar class="md-hue-2" ng-if="errorMsg != true">
<div class="md-toolbar-tools">Add a Reminder</div>
</md-toolbar>
<div flex class="md-padding error" ng-if="errorMsg == true">
    <p>Please try again. It can help to improve the accuracy of the address e.g. <em>Pearse Street, Dublin 2</em></p>
</div>
<md-list>
	<md-list-item class="md-padding">
		<div flex>
			<p><strong>From: </strong>{{reminders[latestReminder].stationDeparture}}</p>
			<p><strong>To:</strong> {{reminders[latestReminder].stationDestination}} </p>
			<p><strong>Scheduled Departure:</strong> {{reminders[latestReminder].departureTime | date: HH:mm}}</p> 
			<form name="addReminder">
				<md-input-container layout="column">
					<label>Where you are travelling to {{reminders[latestReminder].stationDeparture}} train station from?</label>
					<input ng-model="reminder.origin" aria-label="enter location" required>
				</md-input-container>
				<md-input-container>
					<label>What is your mode of transport?</label>
					<md-select ng-model="reminder.modeTransport" aria-label="select mode of transport" required>
						<md-option value="walking">Walking</md-option>
						<md-option value="cycling">Cycling</md-option>
					</md-select>
				</md-input-container>
				<md-input-container>
					<md-button ng-click="calculateDistance()" ng-disabled="addReminder.$invalid" type="submit" class="md-raised md-primary">Set Reminder</md-button>
				</md-input-container>
			</form>
		</div>
	</md-list-item>
</md-list>
<div style="visibility: hidden">
  <div class="md-dialog-container" id="reminderSet">
    <md-dialog>
        <md-toolbar class="md-dialog-content" ng-if="reminderSet == true">Reminder set</md-toolbar>
        <md-toolbar class="md-dialog-content" ng-if="tooLate == true">Reminder Not Set</md-toolbar>
        <md-dialog-content class="md-dialog-content">
            <p ng-if="reminderSet == true">It will take {{durationResponse}} to get to {{reminders[latestReminder].stationDeparture}}.  Reminder set for {{reminderTime}}.</p>
        	<p ng-if="tooLate == true">You are too late to reach this train. Choose another service</p>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button href="/#/" class="md-primary">OK</md-button>
        </md-dialog-actions>
    </md-dialog>
   </div>
</div>
