<!-- display times -->
<md-toolbar class="md-hue-2" ng-if="errorMsg != true">
  <div class="md-toolbar-tools">{{currentStation[0].Stationfullname}}</div>
</md-toolbar>
<div flex class="md-padding error" ng-if="errorMsg == true">
    <p>Techincal error. Please try again later.</p>
</div>
<div flex class="md-padding error" ng-if="errorMsg != true && currentStation[0].Stationfullname == null" >
    <img src="assets/images/ring.gif" alt="loading">
</div>
<div ng-cloak ng-if="currentStation[0].Stationfullname != null">
  <md-tabs md-dynamic-height md-border-bottom>
    <md-tab label="northbound" flex layout="column">
     <md-list ng-repeat="station in currentStation">
      <md-list-item class="md-padding" ng-if="station.Direction == 'To Malahide' || station.Direction == 'To Howth' ">
        <div flex>
          {{station.Destination}} {{station.Schdepart | date: HH:mm}} 
          <md-button md-no-ink class="md-primary" ng-click="getStationDetails(currentStation[0].Stationfullname, station.Destination, station.Schdepart, station.Traindate)">Set Reminder</md-button>
        </div>
      </md-list-item>
    </md-list>
  </md-tab>
  <md-tab label="southbound">
    <md-list ng-repeat="station in currentStation">
      <md-list-item ng-if="station.Direction == 'To Greystones' ||station.Direction == 'To Bray' " class="md-padding">
       <div flex>
          {{station.Destination}} {{station.Schdepart | date: HH:mm}} 
          <md-button md-no-ink class="md-primary" ng-click="getStationDetails(currentStation[0].Stationfullname, station.Destination, station.Schdepart)">Set Reminder</md-button>
        </div> 
     </md-list-item>
   </md-list>
 </md-tab>
</div>
