    .error {
        color:red;
    }
   .md-48 {
       font-size:1.2em;
   }
   .md-display-1 {
       font-size: 22px;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        margin: auto;
   }
   md-list {
       padding:0;
   }