<md-toolbar class="md-hue-2">
<div class="md-toolbar-tools">Reminders</div>
</md-toolbar>
<md-list>
	<md-list-item class="md-padding" ng-repeat="service in reminders">
		<div flex>
			<p><strong>From:</strong> {{service.stationDeparture}}</p>
			<p><strong>To:</strong> {{service.stationDestination}}</p>
			<p><strong>Scheduled Departure:</strong> {{service.departureTime | date: HH:mm}} </p>
			<p><strong>Reminder Time:</strong> {{service.reminderTime | date: HH:mm}} </p>
		</div>
		<md-divider></md-divider>
	</md-list-item>
</md-list>